
/*lg responsive*/
/*section_header lg responsive */
@media (max-width: 1024px) { 
   .section_header{
      flex-wrap: wrap;
   }
   .section_header ul {
      width: 100%;
   }
   .section_header ul li {
      padding-left: 0;
   }
   .support{
      display: none;
   }
}
/* popular section custom responsive*/
@media (min-width: 1200px){
   #popular .product_dtls{
      width: 20%;
   }
   #facility .facility_wraper {
      padding-left: 10px;
      width: 20%;
   }
   
}

/* lg responsive */
@media (min-width: 992px) and (max-width: 1199.98px){
   /* lg responsive */
   .menu .main-menu > ul > li {
      padding: 0px 15px;
   }
   .top_right_header ul .more span {
      padding: 0px 18px 0 0;
   }
   #contact .contact_way {
      margin-right: 0;
  }
}